body {
  background: linear-gradient(#48cae4, #caf0f8);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.manga-header{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: oblique;
  font-size: xx-large;
}

.manga-wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}
.form-control{
  width: 50%;
}

.manga-cols {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;
}

.manga-col {
  width: calc(25% - 2rem);
  margin: 1rem;
}

.manga-container {
  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;

  -webkit-perspective: 1000px;

  perspective: 1000px;
}

.manga-front,
.manga-back {
  background-size: cover;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);

  border-radius: 10px;

  background-position: center;


  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;

  text-align: center;

  min-height: 280px;

  height: auto;

  border-radius: 10px;

  color: #fff;

  font-size: 1.5rem;
}

.manga-back {
  background: #cedce7;

  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);

  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);

  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.manga-front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.manga-container:hover .manga-front,
.manga-container:hover .manga-back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);

  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.manga-back {
  position: absolute;

  top: 0;

  left: 0;

  width: 100%;
}

.manga-inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);

  transform: translateY(-50%) translateZ(60px) scale(0.94);

  top: 50%;

  position: absolute;

  left: 0;

  width: 100%;

  padding: 2rem;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;

  outline: 1px solid transparent;

  -webkit-perspective: inherit;

  perspective: inherit;

  z-index: 2;
}

.manga-container .manga-back {
  -webkit-transform: rotateY(180deg);

  transform: rotateY(180deg);

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.manga-container .manga-front {
  -webkit-transform: rotateY(0deg);

  transform: rotateY(0deg);

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.manga-container:hover .manga-back {
  -webkit-transform: rotateY(0deg);

  transform: rotateY(0deg);

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.manga-container:hover .manga-front {
  -webkit-transform: rotateY(-180deg);

  transform: rotateY(-180deg);

  -webkit-transform-style: preserve-3d;

  transform-style: preserve-3d;
}

.manga-front .manga-inner p {
  font-size: 2rem;

  margin-bottom: 2rem;

  position: relative;
}

.manga-front .manga-inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.manga-front .manga-inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: "Montserrat";
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .manga-col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .manga-col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .manga-col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/*READ MORE BUTTON*/

button {
  margin: 20px;
}

.manga-button {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 10;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display:inline-flex;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/* button read more */

.manga-button-extra {
  border: none;
  color: #ffffff;
}

.manga-button-extra:after {
  position:absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.manga-button-extra:hover {
  color: #000;
}

.manga-button-extra:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.manga-button-extra:active {
  top: 2px;
}
